*.class
*.log
.DS_Store

# sbt specific
.cache/
.history/
.lib/
.idea/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific

# Other
src/test/resources/features/fixtures/*
src/main/bin/run-csvw-tests
model.txt
hw_25000.csv
manifest-validation.jsonld
